default:
  image: maven:3.9.12-eclipse-temurin-21@sha256:5ab44df1a8d34911d649713c1f451efc0b7ddea3305f09eb7070fdbb188c51ba
  tags:
    - pangea-internal

stages:
  - build
  - integration_tests
  - publish
  - examples

include:
  - /examples/.gitlab-ci.yml
  - /packages/pangea-sdk/.gitlab-ci.yml
