default:
  image: maven:3.9.12-eclipse-temurin-21@sha256:6469264ee7b27d753cb882769d6e7b7cacf17a9643cac31a77f3fc610d9fc768
  tags:
    - pangea-internal

stages:
  - build
  - integration_tests
  - publish
  - examples

include:
  - /examples/.gitlab-ci.yml
  - /packages/pangea-sdk/.gitlab-ci.yml
