name: CI

on:
  push:
    branches:
      - main
      - beta

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

  merge_group:

  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  PANGEA_INTEGRATION_DOMAIN_LVE: placeholder
  PANGEA_INTEGRATION_TOKEN_LVE: placeholder

jobs:
  setup:
    runs-on: ubuntu-24.04

    outputs:
      examples-matrix: ${{ steps.examples-matrix.outputs.examples-matrix }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Calculate `examples-matrix` output
        id: examples-matrix
        working-directory: ./examples
        env:
          JQ_FILTER: >-
            "examples-matrix=" + (split("\n") | map(select(length > 0)) | tostring)
        run: find . -type f -name 'pom.xml' -printf '%h\n' | cut -c 3- | sort -u | jq -cRrs '${{ env.JQ_FILTER }}' >> "$GITHUB_OUTPUT"

  prefetch:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          distribution: microsoft
          java-version: 21

  docs:
    needs: [prefetch]
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./packages/pangea-sdk
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          distribution: microsoft
          java-version: 21
          cache: maven
          cache-dependency-path: ./packages/pangea-sdk/pom.xml

      - name: Generate docs
        run: mvn javadoc:javadoc

  test-unit:
    needs: [prefetch]
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java-version: [11, 17, 21]
    defaults:
      run:
        working-directory: ./packages/pangea-sdk
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          distribution: microsoft
          java-version: ${{ matrix.java-version }}
          cache: maven
          cache-dependency-path: ./packages/pangea-sdk/pom.xml

      - name: Unit test
        run: mvn test -B -e -Dtest="cloud.pangeacyber.pangea.*Test"

  test-integration:
    needs: [prefetch]
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java-version: [11, 17, 21]
    defaults:
      run:
        working-directory: ./packages/pangea-sdk
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          distribution: microsoft
          java-version: ${{ matrix.java-version }}
          cache: maven
          cache-dependency-path: ./packages/pangea-sdk/pom.xml

      - name: Integration test
        run: bash ./scripts/test.sh

  examples:
    needs: [setup, prefetch]
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        example: ${{ fromJSON(needs.setup.outputs.examples-matrix) }}
        java-version: [17, 21]
    defaults:
      run:
        working-directory: ./examples/${{ matrix.example }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          distribution: microsoft
          java-version: ${{ matrix.java-version }}
          cache: maven
          cache-dependency-path: ./examples/${{ matrix.example }}/pom.xml

      - name: Build
        run: mvn -B package --file pom.xml
